<a href="https://colab.research.google.com/github/TravisJRCain/labs-curriculum/blob/travis-cain/Labs_26_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Upload data

import pandas as pd

# file_name = /content/FY2021_50_County.xlsx

df = pd.read_excel('FY2021_50_County.xlsx')
df.head(5)

    fips2010  rent50_0  rent50_1  ...  pop2017  hu2017  state_alpha
0  100199999       685       820  ...    55035   23152           AL
1  100399999       821       827  ...   203360  110023           AL
2  100599999       519       523  ...    26200   11918           AL
3  100799999       891       950  ...    22580    9112           AL
4  100999999       891       950  ...    57665   24161           AL

[5 rows x 16 columns]

In [8]:
# Look at columns, shape

print(df.shape)
df.columns

(4766, 16)

Index(['fips2010', 'rent50_0', 'rent50_1', 'rent50_2', 'rent50_3', 'rent50_4',
       'state', 'cbsasub21', 'areaname21', 'county', 'cousub', 'cntyname',
       'name', 'pop2017', 'hu2017', 'state_alpha'],
      dtype='object')

In [4]:
df['rent50_0'].mean

<bound method Series.mean of 0        685
1        821
2        519
3        891
4        891
        ...
4761     472
4762     361
4763     926
4764    1230
4765     866
Name: rent50_0, Length: 4766, dtype: int64>

In [6]:
# Rename columns

df.rename(columns={'state_alpha': 'State'})

        fips2010  rent50_0  rent50_1  ...  pop2017  hu2017  State
0      100199999       685       820  ...    55035   23152     AL
1      100399999       821       827  ...   203360  110023     AL
2      100599999       519       523  ...    26200   11918     AL
3      100799999       891       950  ...    22580    9112     AL
4      100999999       891       950  ...    57665   24161     AL
...          ...       ...       ...  ...      ...     ...    ...
4761  7215199999       472       517  ...    35025   14742     PR
4762  7215399999       361       369  ...    37585   17344     PR
4763  7801099999       926       945  ...    53234   25275     VI
4764  7802099999      1230      1458  ...     4197    3453     VI
4765  7803099999       866      1044  ...    51181   27173     VI

[4766 rows x 16 columns]

In [7]:
df.shape

(4766, 16)